.contenitore-tutto {
  height: 100vh;
}

header {
  height: 5rem;
  background-color: #F9F9F9;
}

main {
  height: calc(100% - 5rem);
}

.sidealbar {
  background-color: #051E34;
  background-image: url(../img/sidebar-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.dati_centrali {
  height: calc( 100vh - 5rem);
  overflow: scroll;
}

.logo_classe {
  width: 2rem;
}

@media screen and (max-width: 6ì520px) {
  .offcanvas.offcanvas-end {
    width: 100%;
  }
}

@media screen and (min-width:520px) {

  .offcanvas.offcanvas-end {
    width: 80%;
  }
}



